<div class='container'>
  {{#each posts}}
    <p
      class='is-flex is-justify-content-space-between'
      data-postid='{{this.id}}'
    >
      <span>
        <i class='far fa-edit'></i>
        <i class='far fa-trash-alt delete-btn'></i>
        <a href='/posts/{{this.id}}' class=''>{{this.title}}</a>
      </span>
      <span class='is-size-7'>
        {{#if updated}}
          Updated
          {{format_date updatedAt}}
          ago
        {{else}}
          Posted
          {{format_date createdAt}}
          ago
        {{/if}}
      </span>
    </p>
  {{/each}}
  {{! <form class='post-form'>
    <div class='field'>
      <label for='post-title'>Title</label>
      <p class='control'>
        <input
          type='text'
          name='post-title'
          id='post-title'
          placeholder='Title'
        />
      </p>
    </div>
    <div class='field'>
      <label for='post-content'>Post Content</label>
      <p class='control'>
        <input
          type='text'
          name='post-content'
          id='post-content'
          placeholder='Post Content'
        />
      </p>
    </div>
    <div class='field my-4'>
      <div class='control'>
        <button class='button is-link' type='submit'>Submit</button>
      </div>
    </div>
  </form> }}
</div>
<script src='/js/posts.js'></script>