<div class='container'>
  <section class='columns posts-container'>
    <section class='column'>
      {{#each posts as |post|}}
        <section class='card mb-3'>
          <header
            class='card-header has-background-primary py-2 px-3 is-flex is-align-items-center'
          >
            {{title}}
            {{#if updated}}
              <p class='is-size-7'>Updated by
                <span
                  class='has-text-white has-text-weight-bold'
                >{{user.username}}</span>
                on
                <span
                  class='has-text-white has-text-weight-bold'
                >{{updatedAt}}</span></p>
            {{else}}
              <p class='is-size-7'>Posted by
                <span
                  class='has-text-white has-text-weight-bold'
                >{{user.username}}</span>
                on
                <span
                  class='has-text-white has-text-weight-bold'
                >{{createdAt}}</span></p>
            {{/if}}
          </header>
          <section class='card-content px-3'>
            {{content}}
          </section>
        </section>
      {{/each}}
    </section>
  </section>
</div>